<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsvectormap/dist/jsvectormap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap/dist/maps/world.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1>Global Geopolitical Risk Dashboard</h1>
    </header>
    <div class="container">
        <!-- 기본 나라 상태는 2D 형태에 사진에서 현재 각 나라에 경제 상황에 따라 나라에 색깔이 다르게 나오게 하기 -->
        <div class="map-wrapper">
            <div id="map"></div>
            <button id="open-common-btn" class="floating-common-btn">🌍 Global Common Data</button>
        </div>
        <div class="card hidden" id="country-card">
            <div class="card-header">
                <p class="country-name">country name</p> 
                <button class="close-btn">← Back</button>
            </div>
            <p id="risk">risk</p>
            <div class="graph-datas">
                <button class="exchange-rate">Exchange Rate</button>
                <button class="equity-index">Equity Index</button>
                <button class="government-bond">10 year government bond yield</button>
                <button class="news-sentiment">News Sentiment Risk Score</button>
            </div>         
            <div class="graph-container">
                <canvas id="graph"></canvas>
                <div class="graph-error"></div>
            </div>
            <div class="explanation">
                <button id="explanation-button">Current Economy Explanation</button>
                <p id="ai-explanation"></p>  
            </div>
        </div>

        <div class="card hidden" id="common-data-card">
            <div class="card-header">
                <p class="country-name">Gloabl Indicators</p>
                <button class="close-btn">← Back</button>
            </div>
            <div class="common-graphs-wrapper">
                <div class="graph-item">
                    <h4>Oil Price (WTI)</h4>
                    <canvas id="oil-graph"></canvas>
                </div>
                <div class="graph-item">
                    <h4>Dollar Index (DXY)</h4>
                    <canvas id="dollar-graph"></canvas>
                </div>
                <div class="graph-item">
                    <h4>VIX (Volatility Index)</h4>
                    <canvas id="vix-graph"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/map.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chart.js')}}"></script>
    <script src="{{ url_for('static', filename='js/ai.js')}}"></script>
    <script src="{{ url_for('static', filename='js/risk.js')}}"></script>
</body>
</html>