<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsvectormap/dist/jsvectormap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsvectormap/dist/maps/world.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1>Global Geopolitical Risk Dashboard</h1>
    </header>
    <div class="container">
        <!-- 기본 나라 상태는 2D 형태에 사진에서 현재 각 나라에 경제 상황에 따라 나라에 색깔이 다르게 나오게 하기 -->
        <div id="map"></div>
        <div class="card">
            <div class="card-header">
                <p class="country-name">country name</p> 
                <button id="back-button">← Back</button>
            </div>
            <p class="risk">risk</p>
            <!-- 현재 나라에 색깔을 바탕으로 risk level을 알려줌(이거는 container div에 역할과 겹치는 것 같음). 이거는 1 주일 간에 데이터에 변동폭으로 해당 risk 색깔을 다르게 할지 생각 해야 함 -->
            <div class="graph-datas">
                <!--각 버튼을 누르면 그에 따른 각 나라에 1 주일 간에 해당 데이터를 그래프로 보여주기 => 데이터 갯수는 변경될 수 있음 -->
                <button class="exchange-rate">Exchange Rate</button>
                <button class="oil-price">Oil Price</button>
                <button class="dollar-index">Dollar Index</button>
                <button class="vix">VIX</button>
            </div>         
            <!-- 그래프 들어갈 위치 -->
            <div class="graph-container">
                <canvas id="graph"></canvas>
                <div class="graph-error"></div>
            </div>
            <div class="explanation">
                <button id="explanation-button">Current Economy Explanation</button>
                <!-- 약 3줄 정도에 gemini 2.5가 현재 경제 상황에 따른 주된 이유를 요약 (이거는 직접 검색을 시킬지 아니면 아니면 위에서 주어진 4개의 데이터로 inference 시킬지 고민해야 함) -->
                <p id="ai-explanation"></p>  
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/map.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chart.js')}}"></script>
    <script src="{{ url_for('static', filename='js/ai.js')}}"></script>
</body>
</html>